{
    "gui" : {
      "background" : {
        "zlevel" : 0,
        "type" : "background",
        "fileHeader" : "/guncrafters/standard/header.png"
      },
  
      "close" : {
        "type" : "button",
        "base" : "/interface/x.png",
        "hover" : "/interface/xhover.png",
        "pressed" : "/interface/xpress.png",
        "pressedOffset" : [0, 0],
        "position" : [205, 95]
      },
  
      "btnCraft" : {
        "type" : "button",
        "position" : [81, 28],
        "base" : "/interface/button.png",
        "hover" : "/interface/buttonhover.png",
        "caption" : "Craft",
        "callback" : "widget_btnCraft"
      },

      "canvas" : {
        "zlevel" : 4,
        "type" : "canvas",
        "rect" : [0, 0, 226, 112],
        "captureMouseEvents" : false,
        "captureKeyboardEvents" : false
      }
    },

    "craftPools" : {
      "common" : [
        "minecraftwoodcbow1"
      ],
      "uncommon" : [
      ],
      "rare" : [
      ],
      "legendary" : [
      ]
    },
  
    "scriptWidgetCallbacks" : [
      "widget_btnCraft"
    ],
  
    "scripts" : ["/guncrafters/standard/ui.lua"],
    "scriptDelta" : 1
}
  